.DS_Store
.ipynb_checkpoints
__pycache__
logs
college
processed_images
venv
confusion matrix swin as binary calssification
confusion_matrixResnet50
imagebeforepreprocessing
Mobile_Pit_training_visualization